$white: #ffffff;
$black: #000000;
$logo-olive-green: #706847;
$logo-darker-blue: #071e26;

$homepage-dark-gray: #495057;
$homepage-light-gray: #ABAEB0;

$footer-black: #212529;
$footer-light-black: #343a40;
