$white: #ffffff;
$black: #000000;
$logo-olive-green: #706847;
$logo-darker-blue: #071e26;

$homepage-dark-gray: #495057;
$homepage-light-gray: #abaeb0;

$footer-black: #212529;
$footer-light-black: #343a40;

$list-post-fresh-green: #00aaa1;
$list-post-light-green: #dff1f0;
$list-post-dark-gray: #757777;
$list-post-green-white: #F2F8F7;
$danger: #dc3545;